body {
	width: 400px;
}

div{
	border: 3px solid grey;
}

a{
	padding-left: 25px;
	padding-right: 25px;
	background-color:white;
	color: black;
	text-decoration: none;
}

a:hover{
	background-color: lightgreen;
}

a:visited{
	color: white;
}

a:active{
	background-color: lightgreen;
}